<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css" />
        <script type="text/javascript" src="/extjs/adapter/ext/ext-base-debug.js"></script>
        <script type="text/javascript" src="/extjs/ext-all-debug.js"></script>
        <title>Manage Home | Charlie Test Manager</title>
        <style type="text/css">
            #maintitle a:link {
                color: #ddd;
                font-size: 13px;
                text-decoration: none;
            }
            #maintitle {
                background: #7F99BE url(/extjs/examples/layout-browser/images/layout-browser-hd-bg.gif) repeat-x center;
                font-size: 16px;
                color: #fff;
                font-weight: normal;
                padding: 5px 10px;
            }
            .inside {
                margin: 8px;
            }
            #tcList {
                width: 200px;
            }
        </style>
        <script type="text/javascript">
            var mainPanel, tcscJsStore;
            var tcscGrid, tcscStore;
            function switchEl(grid, i, j, e) {
                var newVal = grid.getStore().getAt(i).data.element;
                mainPanel.main.update(document.getElementById(newVal).innerHTML);
            }
            Ext.onReady(function() {
                Ext.QuickTips.init();
                /* Test Case Set Creation */
                tcscJsStore = new Ext.data.JsonStore({
                    url: '/manage/home_tcsc/',
                    fields: ['title', 'id'],
                    storeId: 'tcscJsStore',
                    listeners: {'load': function() {
                        tcscGrid = new Ext.grid.GridPanel({
                            title: '1. Select test cases',
                            store: tcscJsStore,
                            columns: [
                                {id: 'title', header: 'Test Cases', dataIndex: 'title'},
                                {id: 'id', dataIndex: 'id', hidden: true},
                            ],
                            stripeRows: true,
                            autoExpandColumn: 'title',
                            stateful: true,
                            stateId: 'tcscGrid',
                            disableSelection: false,
                            enableColumnHide: false,
                            enableColumnMove: false,
                            enableColumnResize: false,
                            enableHdMenu: false,
                            renderTo: 'tcList',
                            autoHeight: true,
                            autoWidth: true,
                            /*listeners: {
                                'cellclick': function(grid, i, j, e) {
                                    document.getElementById('beneath').innerHTML += "LOL";
                                }
                            }*/
                        });
                        /*tcscGrid.render('tcList');*/
                    }},
                });
                tcscJsStore.load();
                /* END Test Case Set Creation */

                /* MENU */
                var menuItems = [
                    ['Create Test Set', 'createTestSet'],
                    ['Manage Teams', 'manageTeams'],
                ];
                var menuStore = new Ext.data.ArrayStore({
                    fields: [
                        {name: 'header'},
                        {name: 'element'},
                    ],
                });
                menuStore.loadData(menuItems);
                var menuGrid = new Ext.grid.GridPanel({
                    store: menuStore,
                    columns: [
                        {id: 'header', header: 'Menu', dataIndex: 'header'},
                        {id: 'element', dataIndex: 'element', hidden: true},
                    ],
                    stripeRows: true,
                    autoExpandColumn: 'header',
                    autoHeight: true,
                    autoWidth: true,
                    stateful: true,
                    stateId: 'menuGrid',
                    disableSelection: true,
                    enableColumnHide: false,
                    enableColumnMove: false,
                    enableColumnResize: false,
                    enableHdMenu: false,
                    listeners: {
                        'cellclick': switchEl,
                    },
                });
                menuGrid.render('menu');
                mainPanel = new Ext.Viewport({
                    layout: 'border',
                    items:[{
                        region: 'north',
                        html: '<h1 id="maintitle">Manage : Home | <a href="/logout/">Logout</a></h1>',
                        autoHeight: true,
                        border: false,
                        margins: '0 0 0 0',
                    }, {
                        region: 'west',
                        width: 300,
                        split: false,
                        margins: '2 1 0 0',
                        contentEl: 'menu',
                    }, {
                        region: 'center',
                        layout: 'fit',
                        ref: 'main',
                        margins: '2 0 0 1',
                        html: '<p>choose a category in the menu</p>',
                        bodyBorder: true,
                    }],
                });
                /* END MENU */
            });
        </script>
    </head>
    <body>
        <div id='menu'>&nbsp;</div>
        <div id='createTestSet' class='x-hidden'>
            <div id='tcList' class='inside'>&nbsp;</div>
            <div id='beneath' class='inside'>something useful would be here</div>
            <div></div>
        </div>
        <div id='manageTeams' class='x-hidden'>&nbsp;</div>
    </body>
</html>
