<!DOCTYPE html>
<html>
    <head>
        <title>Charlie Test Manager | Current Session Management</title>
        <link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css" />
        <script type="text/javascript" src="/extjs/adapter/ext/ext-base-debug.js"></script>
        <script type="text/javascript" src="/extjs/ext-all-debug.js"></script>
        <link rel="stylesheet" type="text/css" href="/extensible/resources/css/extensible-all.css" />
        <script type="text/javascript" src="/extensible/extensible-all-debug.js"></script>
        <link rel="stylesheet" type="text/css" href="/extensible/examples/examples.css" />
        <script type="text/javascript" src="/extensible/examples/examples.js"></script>
        <script type="text/javascript" src="/static/loadCal.js"></script>
        <style type="text/css">
            html, body {
                margin: 0;
                padding: 0;
                height: 100%;
            }
            #tcs {
                min-height: 100%;
                margin: 3px;
                padding: 3px;
                width: 200px;
                position: relative;
                float: left;
            }
            #welcome {
                float: left;
                margin: 3px;
                padding: 3px;
            }
            #menu {
                text-align: right;
                margin: 3px;
                padding: 3px;
            }
            .cal {
                margin: 3px;
                padding: 3px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
        <script type="text/javascript">
            var myCal;
            function testCaseMoved(cal, rec) {
                /*Ext.Ajax.request({
                    method: 'POST',
                    url: '/test_manager/planning/',
                    params: {
                        'tcr': rec.id,
                        'title': rec.data.Title,
                        'year': rec.data.StartDate.format('Y'),
                        'month': rec.data.StartDate.format('m'),
                        'day': rec.data.StartDate.format('d'),
                    },
                    success: function(response) {
                    },
                    failure: function(response, error) {
                    },
                });*/
            }
            Ext.onReady(function() {
                Ext.QuickTips.init();
                var cals = [];
                var allSessionsData = new Ext.data.JsonStore({
                    url: '/manage/current/',
                    baseParams: {'action': 'allSessionsData'},
                    storeId: 'allSessionsData',
                    fields: ['user', 'uid', 'tcr'],
                    listeners: {'load': function(st, recs, opts) {
                        var l = allSessionsData.reader.jsonData.length;
                        for(var u = 0; u < l; u++) {
                            var c_user = allSessionsData.reader.jsonData[u];
                            Ext.DomHelper.append(document.getElementById('cals'), {
                                id: 'cal_' + c_user.user,
                                class: 'cal',
                            });
                            var myStore = new Ext.data.ArrayStore({
                                fields: [{
                                    name: 'execution_date', type: 'date',
                                }, {
                                    name: 'done', type: 'boolean',
                                }, {
                                    name: 'id', type: 'int',
                                }, {
                                    name: 'title', type: 'string',
                                }],
                                autoLoad: true,
                                data: c_user.tcr,
                            });
                            var cal = loadCalendar(c_user.user.toUpperCase(), myStore);
                            cal.addListener('eventClick', function() {
                                return false;
                            });
                            cals.push(cal);
                            cal.render('cal_' + c_user.user);
                        }
                    }},
                });
                allSessionsData.load();
                var tsTree = new Ext.tree.TreePanel({
                    renderTo: 'tcs',
                    autoHeight: true,
                    autoWidth: true,
                    enableDrag: true,
                    enableDrop: false,
                    dataUrl: '/manage/home_ts/',
                    root: {
                        nodeType: 'async',
                        text: 'Test Cases',
                        draggable: false,
                        id: 'tsSrc',
                        expanded: true,
                    },
                    listeners: {
                        'click': function(myNode, myEvent) {
                            if(myNode.isLeaf()) {

                            }
                        },
                    },
                });
                window.onresize = function() {
                    for(i = 0; i < cals.length; i++) {
                        cals[i].syncSize();
                    }
                }
            });
        </script>
    </head>
    <body>
        <div id="welcome">Welcome, Admin</div>
        <div id='menu'>
            <a href='/manage/home/'>Return to Admin Menu</a>
            |
            <a href='/logout/'>Logout</a>
        </div>
        <div id='spc'>&nbsp;</div>
        <div id='tcs'></div>
        <div id='cals'></div>
        </div>
    </body>
</html>
