<!DOCTYPE html>
<html>
    <head>
        <title>Charlie Test Manager | Current Session Management</title>
        <link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css" />
        <script type="text/javascript" src="/extjs/adapter/ext/ext-base-debug.js"></script>
        <script type="text/javascript" src="/extjs/ext-all-debug.js"></script>
        <link rel="stylesheet" type="text/css" href="/extensible/resources/css/extensible-all.css" />
        <script type="text/javascript" src="/extensible/extensible-all-debug.js"></script>
        <link rel="stylesheet" type="text/css" href="/extensible/examples/examples.css" />
        <script type="text/javascript" src="/extensible/examples/examples.js"></script>
        <script type="text/javascript" src="/static/loadCal.js"></script>
        <style type="text/css">
            #welcome {
                position: absolute;
                left: 5px;
                top: 5px;
            }
            #menu {
                position: absolute;
                right: 5px;
                top: 5px;
            }
            #rep {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
        <script type="text/javascript">
            function testCaseMoved(cal, rec) {
                Ext.Ajax.request({
                    method: 'POST',
                    url: '/test_manager/planning/',
                    params: {
                        'tcr': rec.id,
                        'title': rec.data.Title,
                        'year': rec.data.StartDate.format('Y'),
                        'month': rec.data.StartDate.format('m'),
                        'day': rec.data.StartDate.format('d'),
                    },
                    success: function(response) {
                    },
                    failure: function(response, error) {
                    },
                });
            }
            Ext.onReady(function() {
                var users = ["AGR", "NRE"];
                /*var cals = []*/
                for(num_cal = 0; num_cal < users.length; num_cal++)
                {
                    console.log(num_cal);
                    var user = users[num_cal];
                    var st = new Ext.data.JsonStore({
                        range: num_cal,
                        owner: user,
                        fields: [
                            'title',
                            {name: 'execution_date', type: 'date'},
                            'id',
                        ],
                        listeners: {'load': function(store) {
                            var cal = loadCalendar(this.owner, store);
                            console.log(cal);
                            console.log('rep' + this.range);
                            cal.render('rep' + this.range);
                            /*cals.push(loadCalendar(user, st));
                            cals[this.range].render('rep' + this.range);*/
                        }},
                        proxy: new Ext.data.HttpProxy({
                            method: 'POST',
                            url: '/manage/current/',
                        }),
                        storeId: 'tcrStore',
                    });
                    st.setBaseParam('action', 'gettcr');
                    st.setBaseParam('user', st.owner);
                    st.load();
                }
                /*window.onresize = function()
                {
                    for(num_cal = 0; num_cal < cals.length; num_cal++)
                    {
                        cals[num_cal].syncSize();
                    }
                }
                console.log(cals);*/
            });
        </script>
    </head>
    <body>
        <div id="welcome">Welcome, Admin</div>
        <div id='menu'>
            <a href='/manage/home/'>Return to Admin Menu</a>
            |
            <a href='/logout/'>Logout</a>
        </div>
        <div id='rep0'></div>
        <div id='rep1'></div>
    </body>
</html>
