<!DOCTYPE html>
<html>
    <head>
        <title>Charlie Test Manager | Current Session Management</title>
        <link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css" />
        <script type="text/javascript" src="/extjs/adapter/ext/ext-base-debug.js"></script>
        <script type="text/javascript" src="/extjs/ext-all-debug.js"></script>
        <link rel="stylesheet" type="text/css" href="/extensible/resources/css/extensible-all.css" />
        <script type="text/javascript" src="/extensible/extensible-all-debug.js"></script>
        <link rel="stylesheet" type="text/css" href="/extensible/examples/examples.css" />
        <script type="text/javascript" src="/extensible/examples/examples.js"></script>
        <script type="text/javascript" src="/static/loadCal.js"></script>
        <style type="text/css">
            html, body {
                margin: 0;
                padding: 0;
                height: 100%;
            }
            #tcs {
                min-height: 100%;
                margin: 3px;
                padding: 3px;
                width: 200px;
                position: relative;
                float: left;
            }
            #welcome {
                float: left;
                margin: 3px;
                padding: 3px;
            }
            #menu {
                text-align: right;
                margin: 3px;
                padding: 3px;
            }
            .cal {
                margin: 3px;
                padding: 3px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
        <script type="text/javascript">
            var myCal;
            function testCaseMoved(cal, rec) {
                /*Ext.Ajax.request({
                    method: 'POST',
                    url: '/test_manager/planning/',
                    params: {
                        'tcr': rec.id,
                        'title': rec.data.Title,
                        'year': rec.data.StartDate.format('Y'),
                        'month': rec.data.StartDate.format('m'),
                        'day': rec.data.StartDate.format('d'),
                    },
                    success: function(response) {
                    },
                    failure: function(response, error) {
                    },
                });*/
            }
            Ext.onReady(function() {
                Ext.QuickTips.init();
                var usersStore = new Ext.data.JsonStore({
                    fields: [
                        {name: 'id', type: 'int'},
                        'username',
                    ],
                    listeners: {
                        'load': function() {
                            var myDtPck = new Ext.DatePicker({
                                autoDestroy: true,
                                ref: 'myDtPck',
                            });
                            var win = new Ext.Window({
                                layout: 'vbox',
                                autoDestroy: true,
                                closeAction: 'close',
                                plain: true,
                                items: {
                                    xtype: 'panel',
                                    ref: 'inEditWin',
                                    layout: 'fit',
                                    autoWidth: true,
                                    margins: '3 3 3 3',
                                },
                                buttons: [{
                                    text: 'Submit',
                                    disabled: true,
                                    handler: function(b, e) {
                                        win.close();
                                    }
                                }, {
                                    text: 'Cancel',
                                    handler: function(b, e) {
                                        win.close();
                                    }
                                }],
                            });
                            win.inEditWin.add(myDtPck);
                            var usersPicker = new Ext.form.ComboBox({
                                autoDestroy: true,
                                name: 'usersPicker',
                                ref: 'usersPicker',
                                fieldLabel: 'Tester',
                                mode: 'local',
                                forceSelection: true,
                                allowBlank: false,
                                triggerAction: 'all',
                                editable: false,
                                displayField: 'username',
                                valueField: 'id',
                                store: usersStore,
                            });
                            win.inEditWin.add(usersPicker);
                            win.show(this);
                            win.setHeight(400);
                        },
                    },
                    proxy: new Ext.data.HttpProxy({
                        method: 'POST',
                        url: '/manage/current/',
                    }),
                    storeId: 'usersStore',
                });
                /*CustomTreePanel = Ext.extend(Ext.tree.TreePanel, {
                    constructor: function(config) {
                        Ext.apply(this, {
                            ddGroup: 'calendarDD',
                        });
                        CustomTreePanel.superclass.constructor.apply(this, arguments);
                    }
                });
                Ext.override(CustomTreePanel, {
                    getDragData: function(e) {
                        var target = Ext.get(e.getTarget());
                        thisProxy = Ext.ensible.cal._statusProxyInstance;
                        var record = this.getSelectionModel().getSelectedNode();
                        eventName = "plop";
                        eventData = new Ext.ensible.cal.EventRecord();
                        eventStore = myCal.calendarStore;
                        eventRecord = new Ext.ensible.cal.EventRecord({
                            'EventId': 1500,
                            'cid': '',
                            'Title': eventName,
                            'StartDate': new Date(),
                            'EndDate': new Date(),
                            'notes': '',
                        });
                        eventStore.insert(0, eventRecord);
                        eventRecord = eventStore.getAt(0);
                        newDDel = document.createElement("div");
                        this.ddel.className = 'jibber-calendar-week-bd-evt-' + eventRecord.data['EventId'];
                        return {
                            ddel: this.ddel,
                            item: target,
                            proxy: thisProxy,
                            data: eventData,
                            type: 'eventdrag',
                        };
                    }
                });*/
                //var tsTree = new CustomTreePanel({
                var tsTree = new Ext.tree.TreePanel({
                    hidden: true,
                    autoHeight: true,
                    autoWidth: true,
                    enableDrag: true,
                    enableDrop: false,
                    root: {
                        nodeType: 'async',
                        text: 'Test Cases',
                        draggable: false,
                        id: 'tsSrc',
                        expanded: true,
                    },
                    listeners: {
                        'click': function(myNode, myEvent) {
                            usersStore.setBaseParam('action', 'usersStore');
                            usersStore.load();
                        },
                    },
                });
                var users = ["AGR", "NRE"];
                var cals = [];
                tsTree.getLoader().addListener('load', function() {
                    tsTree.show();
                    tsTree.render('tcs');
                });
                tsTree.getLoader().dataUrl = '/manage/home_ts/';
                tsTree.getLoader().load(new Ext.tree.AsyncTreeNode({
                    nodeType: 'async',
                    text: 'Test Cases',
                    draggable: false,
                    id: 'tsSrc',
                    expanded: true,
                }));
                for(num_cal = 0; num_cal < users.length; num_cal++)
                {
                    var user = users[num_cal];
                    var st = new Ext.data.JsonStore({
                        range: num_cal,
                        owner: user,
                        fields: [
                            'title',
                            {name: 'execution_date', type: 'date'},
                            'id',
                        ],
                        listeners: {'load': function(store) {
                            var cal = loadCalendar(this.owner, store, usersStore);
                            myCal = cal;
                            cal.render('rep' + this.range);
                            cals.push(cal);
                        }},
                        proxy: new Ext.data.HttpProxy({
                            method: 'POST',
                            url: '/manage/current/',
                        }),
                        storeId: 'tcrStore',
                    });
                    st.setBaseParam('action', 'gettcr');
                    st.setBaseParam('user', st.owner);
                    st.load();
                }
                window.onresize = function()
                {
                    for(num_cal = 0; num_cal < cals.length; num_cal++)
                    {
                        cals[num_cal].syncSize();
                    }
                }
            });
        </script>
    </head>
    <body>
        <div id="welcome">Welcome, Admin</div>
        <div id='menu'>
            <a href='/manage/home/'>Return to Admin Menu</a>
            |
            <a href='/logout/'>Logout</a>
        </div>
        <div id='spc'>&nbsp;</div>
        <div id='tcs'></div>
        <div id='cals'></div>
            <div id='rep0' class='cal'></div>
            <div id='rep1' class='cal'></div>
        </div>
    </body>
</html>
