<!DOCTYPE html>
<html xmlns="http: //www.w3.org/1999/xhtml" lang="en_US" xml: lang="en_US">
    <head>
        <title>Create Test Case | Charlie Test Manager</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css" />
        <script type="text/javascript" src="/extjs/adapter/ext/ext-base-debug.js"></script>
        <script type="text/javascript" src="/extjs/ext-all-debug.js"></script>
        <link rel="stylesheet" type="text/css" href="/extensible/resources/css/extensible-all.css" />
        <link rel="stylesheet" type="text/css" href="/extensible/examples/examples.css" />
        <link rel="stylesheet" type="text/css" href="/extjs/examples/ux/fileuploadfield/css/fileuploadfield.css" />
        <script type="text/javascript" src="/extjs/examples/ux/fileuploadfield/FileUploadField.js"></script>
        <style type="text/css">
            #welcome {
                position: absolute;
                left: 5px;
                top: 5px;
            }
            #menu {
                position: absolute;
                right: 5px;
                top: 5px;
            }
            #tcform {
                display: block;
                width: 950px;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
        <script type="text/javascript" src="/static/newTestCase.js"></script>
        <script type="text/javascript">
            Ext.onReady(function(){
                Ext.QuickTips.init();
                var form;
                var csrf_token = "{{ csrf_token }}";
                var comboData = new Ext.data.JsonStore({
                    method: 'GET',
                    url: '/test_manager/create_tc/?action=comboData',
                    fields: ['module', 'smodule'],
                    storeId: 'comboDataStore',
                    listeners: {'load': function() {
                        form = loadForm(this);
                        form.add({
                            xtype: 'hidden',
                            name: 'csrfmiddlewaretoken',
                            value: csrf_token,
                        });
                        form.addButton(new Ext.Button({
                            text: 'Save',
                            handler: function() {
                                if (form.form.isValid()) {
                                    form.getForm().submit({
                                        waitTitle: 'Connecting',
                                        url: '/test_manager/create_tc/',
                                        waitMsg: 'Sending data...',
                                        success: function(f, a) {
                                            Ext.Msg.show({
                                                title: 'Saved',
                                                msg: 'Your test case has been saved',
                                                buttons: Ext.Msg.OK,
                                                icon: Ext.MessageBox.INFO,
                                                fn: function() {
                                                    window.location = '/test_manager/';
                                                }
                                            });
                                        },
                                        failure: function(f, a) {
                                            Ext.Msg.alert('error ' + a.response.status, a.response.statusText);
                                        }
                                    });
                                }
                            }
                        }));
                        form.addButton(new Ext.Button({
                            text: 'Reset',
                            handler: function() {
                                form.form.reset();
                            }
                        }));
                        form.addButton(new Ext.Button({
                            text: 'Cancel',
                            handler: function() {
                                window.location = '/test_manager/planning/';
                            }
                        }));
                        form.render('tcform');
                    }},
                });
                comboData.load();
            });
        </script>
    </head>
    <body>
        <div id="welcome">Welcome, {{ tester_visa }}</div>
        <div id='menu'>
            <a href='/test_manager/planning/'>Planning</a>
            |
            <a href='/test_manager/availabilities/'>My availabilities</a>
            |
            <a href='/test_manager/create_tc/'>Create Test Case</a>
            |
            <a href='/test_manager/config/'>Config Options</a>
            |
            <a href='/test_manager/monitoring/'>Monitoring</a>
            |
            <a href='/logout/'>Logout</a>
        </div>
        <div id='tcform'></div>
    </body>
</html>
