<!DOCTYPE html>
<html>
    <head>
        <title>| Charlie Test Manager</title>
        <link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css" />
        <link rel="stylesheet" type="text/css" href="/extensible/resources/css/extensible-all.css" />
        <link rel="stylesheet" type="text/css" href="/extensible/examples/examples.css" />
        <script type="text/javascript" src="/extjs/adapter/ext/ext-base-debug.js"></script>
        <script type="text/javascript" src="/extjs/ext-all-debug.js"></script>
        <script type="text/javascript" src="/static/testCaseRun.js"></script>
        <style type="text/css">
            #menu {
                position: absolute;
                right: 5px;
                top: 5px;
            }
            #rep {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .is_ok {
                color: green;
            }
            .is_ko {
                color: red;
            }
        </style>
        <script type="text/javascript">
            function comboSelect(myCombo, myRec, myIndex) {
                console.log(myRec.json.value);
                console.log(myCombo.name);
                Ext.Ajax.request({
                    method: 'POST',
                    url: '/test_manager/do_test/',
                    params: {
                        'action': 'settcrparam',
                        'param': myCombo.name,
                        'value': myRec.json.value,
                        'csrfmiddlewaretoken': csrf_token,
                    },
                    success: function(response, opts) {
                        console.log(response.responseText);
                    },
                    failure: function(response, opts) {
                        console.log(response.responseText);
                    },
                });
            }
            function setStatus(n, is_ok) {
                Ext.Ajax.request({
                    method: 'POST',
                    url: '/test_manager/do_test/',
                    params: {
                        'action': 'setstatus',
                        'is_ok': is_ok,
                        'sid': Ext.getCmp('compositefield_step' + n).sid.getValue(),
                        'csrfmiddlewaretoken': csrf_token,
                    },
                    success: function(response, opts) {
                        var result = Ext.util.JSON.decode(response.responseText);
                        if(result.success) {
                            var newText = '<b class="is_ok">OK</b> | <a class="" href="#" onClick="setStatus(' + n + ', false)">KO</a>';
                            if(!is_ok) {
                                var newText = '<a class="" href="#" onClick="setStatus(' + n + ', true)">OK</a> | <b class="is_ko">KO</b>';
                            }
                            Ext.getCmp('compositefield_step' + n).status.setValue(newText);
                        } else {
                            Ext.Msg.alert('Error', result.errorMessage);
                        }
                    },
                    failure: function(response, opts) {
                        Ext.Msg.alert('Error', 'Could not change this step\'s status');
                    },
                });
            }
            var csrf_token = "{{ csrf_token }}";
            Ext.onReady(function() {
                var comboData = new Ext.data.JsonStore({
                    method: 'GET',
                    url: '/test_manager/do_test/?action=tcrinfo',
                    fields: ['tc', 'config'],
                    listeners: {
                        'load': function(myStore, myRecs, myOpts) {
                            var form = loadForm(myStore);
                            {% if tester_priv %}
                            form.addButton(new Ext.Button({
                                text: 'Edit',
                                handler: function(myButton, myEvent) {
                                    /* Edit test case run */
                                },
                            }));
                            form.addButton(new Ext.Button({
                                text: 'Cancel',
                                handler: function(myButton, myEvent) {
                                    window.location = '/test_manager/planning/';
                                },
                            }));
                            {% else %}{% endif %}
                            form.show();
                            form.render('rep');
                            myData = myStore.reader.jsonData.tc;
                            form.setTitle('Test Case : ' + myData.title);
                            form.details.criticity.setValue(myData.criticity);
                            form.descr.setValue(myData.description);
                            form.details.duration.setValue(myData.length);
                            form.details.module.setValue(myData.module);
                            form.precond.setValue(myData.precondition);
                            form.details.submodules.setValue(myData.sub_module);
                            form.tctitle.setValue(myData.title);
                            document.title = myData.title + ' ' + document.title;
                            var tags = myData.tags.join(' ');
                            form.details.tags.setValue(tags);
                            if(myData.browser.length > 0) {
                                form.details.browser.setValue(myData.browser);
                            }
                            if(myData.os.length > 0) {
                                form.details.os.setValue(myData.os);
                            }
                            if(myData.version.length > 0) {
                                form.details.version.setValue(myData.version);
                            }
                            if(myData.environment.length > 0) {
                                form.details.envir.setValue(myData.environment);
                            }
                            if(myData.release.length > 0) {
                                form.details.release.setValue(myData.release);
                            }
                            for(var i = 0; i < myData.steps.length; i++) {
                                form.addStep();
                                var rec = myData.steps[i];
                                var comp = Ext.getCmp('compositefield_step' + (i + 1));
                                var jiraStr = '';
                                for(var j = 0; j < rec.jiras.length; j++) {
                                    jiraStr += '<p><a href="http://jira-stx.elca.ch/jira/browse/' + rec.jiras[j].name + '">' + rec.jiras[j].name + '</a></p>';
                                }
                                comp.jiras.setValue(jiraStr);
                                comp.sid.setValue(rec.id);
                                comp.action.setValue(rec.action);
                                comp.expected.setValue(rec.expected);
                                comp.comment.setValue(rec.comment);
                                if(rec.xp_image.length > 0) {
                                    comp.scrot_url.setValue('<a href="' + rec.xp_image + '">Link</a>');
                                }
                            }
                        },
                    },
                });
                comboData.load();
            });
        </script>
    </head>
    <body>
        <div id='menu'>
            <a href='/test_manager/planning/'>Planning</a>
            |
            <a href='/test_manager/availabilities/'>My availabilities</a>
            {% if tester_priv %}
            |
            <a href='/test_manager/create_tc/'>Create Test Case</a>
            {% else %}{% endif %}
            |
            <a href='/logout/'>Logout</a>
        </div>
        <div id='rep'></div>
    </body>
</html>
