<!DOCTYPE html>
<html>
    <head>
        <title>| Charlie Test Manager</title>
        <link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css" />
        <link rel="stylesheet" type="text/css" href="/extensible/resources/css/extensible-all.css" />
        <link rel="stylesheet" type="text/css" href="/extensible/examples/examples.css" />
        <link rel="stylesheet" type="text/css" href="/extjs/examples/ux/fileuploadfield/css/fileuploadfield.css" />
        <script type="text/javascript" src="/extjs/adapter/ext/ext-base-debug.js"></script>
        <script type="text/javascript" src="/extjs/ext-all-debug.js"></script>
        <script type="text/javascript" src="/extjs/examples/ux/fileuploadfield/FileUploadField.js"></script>
        <script type="text/javascript" src="/static/testCaseRun.js"></script>
        <script type="text/javascript" src="/static/newTestCase.js"></script>
        <style type="text/css">
            #menu {
                position: absolute;
                right: 5px;
                top: 5px;
            }
            #rep {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .fake_link {
                cursor: pointer;
                color: blue;
                text-decoration: underline;
            }
            .is_ok {
                color: green;
            }
            .is_ko {
                color: red;
            }
        </style>
        <script type="text/javascript">
            function comboChange(myCombo, newValue, oldValue) {
                Ext.Ajax.request({
                    method: 'POST',
                    url: '/test_manager/do_test/',
                    params: {
                        'action': 'settcrparam',
                        'param': myCombo.name,
                        'value': newValue,
                        'csrfmiddlewaretoken': csrf_token,
                    },
                    success: function(response, opts) {
                        var result = Ext.util.JSON.decode(response.responseText);
                        if(result.over) {
                            Ext.charlie.msg('This test case run is over', '{0}', '.');
                        }
                    },
                    failure: function(response, opts) {
                        Ext.Msg.alert('Could not choose this item from the list');
                    },
                });
            }
            function comboSelect(myCombo, myRec, myIndex) {
                Ext.Ajax.request({
                    method: 'POST',
                    url: '/test_manager/do_test/',
                    params: {
                        'action': 'settcrparam',
                        'param': myCombo.name,
                        'value': myRec.json.value,
                        'csrfmiddlewaretoken': csrf_token,
                    },
                    success: function(response, opts) {
                        var result = Ext.util.JSON.decode(response.responseText);
                        if(result.over) {
                            Ext.charlie.msg('This test case run is over', '{0}', '.');
                        }
                    },
                    failure: function(response, opts) {
                        Ext.Msg.alert('Could not choose this item from the list');
                    },
                });
            }
            function setStatus(n, is_ok) {
                Ext.Ajax.request({
                    method: 'POST',
                    url: '/test_manager/do_test/',
                    params: {
                        'action': 'setstatus',
                        'is_ok': is_ok,
                        'sid': Ext.getCmp('compositefield_step' + n).sid.getValue(),
                        'csrfmiddlewaretoken': csrf_token,
                    },
                    success: function(response, opts) {
                        var result = Ext.util.JSON.decode(response.responseText);
                        if(result.success) {
                            var newText = '<b class="is_ok">OK</b> | <a class="" href="#" onClick="setStatus(' + n + ', false)">KO</a>';
                            if(!is_ok) {
                                var newText = '<a class="" href="#" onClick="setStatus(' + n + ', true)">OK</a> | <b class="is_ko">KO</b>';
                            }
                            if(result.over) {
                                Ext.charlie.msg('This test case run is over', '{0}', '.');
                            }
                            Ext.getCmp('compositefield_step' + n).status.setValue(newText);
                        } else {
                            Ext.Msg.alert('Error', result.errorMessage);
                        }
                    },
                    failure: function(response, opts) {
                        Ext.Msg.alert('Error', 'Could not change this step\'s status');
                    },
                });
            }
            var csrf_token = "{{ csrf_token }}";
            Ext.onReady(function() {
                var comboData = new Ext.data.JsonStore({
                    method: 'GET',
                    url: '/test_manager/do_test/?action=tcrinfo',
                    fields: ['tc', 'config'],
                    listeners: {
                        'load': function(myStore, myRecs, myOpts) {
                            var form = loadFormRun(myStore);
                            {% if tester_priv %}
                            form.details.envir.setEditable(true);
                            form.details.os.setEditable(true);
                            form.details.browser.setEditable(true);
                            form.details.release.setEditable(true);
                            form.details.version.setEditable(true);
                            form.addButton(new Ext.Button({
                                text: 'Edit',
                                handler: function(myButton, myEvent) {
                                    form.destroy();
                                    var editTcrData = new Ext.data.JsonStore({
                                        method: 'GET',
                                        url: '/test_manager/do_test/?action=edittcrdata',
                                        fields: ['modules', 'submodules', 'tcr'],
                                        listeners: {
                                            'load': function(myStore, myRecs, opts) {
                                                var tcrinfo = myStore.reader.jsonData.tcr;
                                                var modules = myStore.reader.jsonData.modules;
                                                var submodules = myStore.reader.jsonData.submodules;
                                                var editForm = loadForm(myStore);
                                                editForm.details.submodules.store.loadData(submodules[tcrinfo.module]);
                                                editForm.action.setValue('edittcr');
                                                editForm.tctitle.setValue(tcrinfo.title);
                                                editForm.descr.setValue(tcrinfo.description);
                                                editForm.precond.setValue(tcrinfo.precondition);
                                                editForm.details.criticity.setValue(tcrinfo.criticity);
                                                editForm.details.tags.setValue(tcrinfo.tags);
                                                editForm.details.module.setValue(tcrinfo.module);
                                                editForm.details.submodules.setValue(tcrinfo.sub_module);
                                                editForm.details.duration.setValue(tcrinfo.length);
                                                editForm.addButton({
                                                    text: 'Save',
                                                    handler: function(but, evt) {
                                                        if(editForm.form.isValid()) {
                                                            editForm.getForm().submit({
                                                                waitTitle: 'Connecting',
                                                                method: 'POST',
                                                                url: '/test_manager/do_test/',
                                                                waitMsg: 'Sending data...',
                                                                params: {
                                                                    'csrfmiddlewaretoken': csrf_token,
                                                                },
                                                                success: function(response, opts) {
                                                                    if(opts.result.success) {
                                                                        Ext.Msg.show({
                                                                            title: 'Saved',
                                                                            msg: 'The test case has been modified',
                                                                            buttons: Ext.Msg.OK,
                                                                            icon: Ext.MessageBox.INFO,
                                                                            fn: function() {
                                                                                location.reload(true);
                                                                            },
                                                                        });
                                                                    } else {
                                                                        Ext.Msg.alert('Error', result.errorMessage);
                                                                    }
                                                                },
                                                                failure: function(response, opts) {
                                                                    Ext.Msg.alert('Error', opts.result.errorMessage);
                                                                },
                                                            });
                                                        }
                                                    },
                                                });
                                                editForm.addButton({
                                                    text: 'Cancel',
                                                    handler: function(but, evt) {
                                                        location.refresh(true);
                                                    },
                                                });
                                                for(var i = 1; i < tcrinfo.steps.length; i++)
                                                {
                                                    editForm.addStep();
                                                }
                                                for(var i = 0; i < tcrinfo.steps.length; i++)
                                                {
                                                    Ext.getCmp('compositefield_step' + (i + 1)).sid.setValue(tcrinfo.steps[i].id);
                                                    Ext.getCmp('compositefield_step' + (i + 1)).action.setValue(tcrinfo.steps[i].action);
                                                    Ext.getCmp('compositefield_step' + (i + 1)).expected.setValue(tcrinfo.steps[i].expected);
                                                    if(tcrinfo.steps[i].xp_image.length > 0) {
                                                        Ext.getCmp().scrot_url.update("<a href='" + tcrinfo.steps[i].xp_image + "'>Link</a>");
                                                    }
                                                }
                                                editForm.render('rep');
                                            },
                                        },
                                    });
                                    editTcrData.load();
                                },
                            }));
                            {% else %}{% endif %}
                            form.show();
                            form.render('rep');
                            myData = myStore.reader.jsonData.tc;
                            form.setTitle('Test Case : ' + myData.title);
                            form.details.criticity.setValue(myData.criticity);
                            form.descr.setValue(myData.description);
                            form.details.duration.setValue(myData.length);
                            form.details.module.setValue(myData.module);
                            form.precond.setValue(myData.precondition);
                            form.details.submodules.setValue(myData.sub_module);
                            form.tctitle.setValue(myData.title);
                            document.title = myData.title + ' ' + document.title;
                            var tags = myData.tags.join(' ');
                            form.details.tags.setValue(tags);
                            if(myData.browser.length > 0) {
                                form.details.browser.setValue(myData.browser);
                            }
                            if(myData.os.length > 0) {
                                form.details.os.setValue(myData.os);
                            }
                            if(myData.version.length > 0) {
                                form.details.version.setValue(myData.version);
                            }
                            if(myData.environment.length > 0) {
                                form.details.envir.setValue(myData.environment);
                            }
                            if(myData.release.length > 0) {
                                form.details.release.setValue(myData.release);
                            }
                            for(var i = 0; i < myData.steps.length; i++) {
                                form.addStep();
                                var rec = myData.steps[i];
                                var comp = Ext.getCmp('compositefield_step' + (i + 1));
                                var jiraStr = '';
                                for(var j = 0; j < rec.jiras.length; j++) {
                                    jiraStr += '<p><a target="_blank" href="http://jira-stx.elca.ch/jira/browse/' + rec.jiras[j].name + '">' + rec.jiras[j].name + '</a></p>';
                                }
                                comp.jiras.setValue(jiraStr);
                                comp.sid.setValue(rec.id);
                                comp.action.setValue(rec.action);
                                comp.expected.setValue(rec.expected);
                                comp.comment.setValue(rec.comment);
                                if(rec.status != 'undefined') {
                                    if(rec.status)
                                        comp.status.setValue('<b class="is_ok">OK</b> | <a class="" onClick="setStatus(' + comp.fieldLabel + ', false)">KO</a>');
                                    else
                                        comp.status.setValue('<a class="" onClick="setStatus(' + comp.fieldLabel + ', true)">OK</a> | <b class="is_ko">KO</b>');
                                    }
                                    if(rec.xp_image.length > 0) {
                                        comp.scrot_url.setValue('<a href="' + rec.xp_image + '">Link</a>');
                                    }
                            }
                        },
                    },
                });
                comboData.load();
            });
        </script>
    </head>
    <body>
        <div id='menu'>
            <a href='/test_manager/planning/'>Planning</a>
            |
            <a href='/test_manager/availabilities/'>My availabilities</a>
            {% if tester_priv %}
            |
            <a href='/test_manager/create_tc/'>Create Test Case</a>
            {% else %}{% endif %}
            |
            <a href='/logout/'>Logout</a>
        </div>
        <div id='rep'></div>
    </body>
</html>
