<!DOCTYPE html>
<html>
    <head>
        <title>{{ tester_visa }}'s Planning | Charlie Test Manager</title>
        <link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css" />
        <script type="text/javascript" src="/extjs/adapter/ext/ext-base-debug.js"></script>
        <script type="text/javascript" src="/extjs/ext-all-debug.js"></script>
        <link rel="stylesheet" type="text/css" href="/extensible/resources/css/extensible-all.css" />
        <script type="text/javascript" src="/extensible/extensible-all-debug.js"></script>
        <link rel="stylesheet" type="text/css" href="/extensible/examples/examples.css" />
        <script type="text/javascript" src="/extensible/examples/examples.js"></script>
        <script type="text/javascript" src="/static/loadCal.js"></script>
        <style type="text/css">
            #welcome {
                position: absolute;
                left: 5px;
                top: 5px;
            }
            #menu {
                position: absolute;
                right: 5px;
                top: 5px;
            }
            #rep {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
        <script type="text/javascript">
            var csrf_token = "{{ csrf_token }}";
            function checkIfPriv() {
                if("{{ tester_priv }}" == "True") {
                    return true;
                } else {
                    return false;
                }
            }
            var testCaseMoved = function(cal, rec) {
                return false;
            };
            if("{{ tester_priv }}" == "True") {
                testCaseMoved = function(cal, rec) {
                    Ext.Ajax.request({
                        method: 'POST',
                        url: '/test_manager/planning/',
                        params: {
                            'csrfmiddlewaretoken': csrf_token,
                            'tcr': rec.tcrid,
                            'title': rec.data.Title,
                            'year': rec.data.StartDate.format('Y'),
                            'month': rec.data.StartDate.format('m'),
                            'day': rec.data.StartDate.format('d'),
                        },
                        success: function(response) {
                            var result = Ext.util.JSON.decode(response.responseText);
                            if(result.success) {
                                return true;
                            } else {
                                Ext.Msg.alert("Error", result.errorMessage);
                                return false;
                            }
                        },
                        failure: function(response, error) {
                            return false;
                        },
                    });
                };
            }
            Ext.onReady(function() {
                var cal;
                var st = new Ext.data.JsonStore({
                    fields: [
                        'title',
                        {name: 'execution_date', type: 'date'},
                        'tcrid',
                    ],
                    listeners: {'load': function() {
                        cal = loadCalendar("{{ tester_visa }}", {{ tester_id }}, st);
                        cal.render('rep');
                        cal.addListener('beforeeventmove', checkIfPriv);
                        cal.addListener('eventclick', function(myCal, myRec, myEl) {
                            window.location = '/test_manager/do_test/?t=' + myRec.json.id;
                            return false;
                        })
                    }},
                    url: '/test_manager/planning/?action=events',
                    method: 'GET',
                    storeId: 'tcrStore',
                });
                st.load();
                window.onresize = function() {
                    cal.syncSize();
                }
            });
        </script>
    </head>
    <body>
        <div id="welcome">Welcome, {{ tester_visa }}</div>
        <div id='menu'>
            <a href='/test_manager/planning/'>Planning</a>
            |
            <a href='/test_manager/availabilities/'>My availabilities</a>
            {% if tester_priv %}
            |
            <a href='/test_manager/create_tc/'>Create Test Case</a>
            {% else %}{% endif %}
            |
            <a href='/logout/'>Logout</a>
        </div>
        <div id='rep'></div>
    </body>
</html>
